$fontSize = 16px
// colors

$blue = #3AB0E4
$blueLight = #BDE5F6
$blueLighter = #DEF2FB

// secondary colors
$queenLight = #BFC9DB
$queenLighter = #DFE4ED
$queenLightest = #F9FAFC

// text colors
$black = #131313
$blackLight = #3A3A3A
$blackLighter = #626262
$gray = #1F1F1F
$grayLight = #8492A6
$grayLighter = #D8D8D8

// alert colors
$red = #FF5A5F
$yellow = #FFC82C
$green = #0CCE6B

$accentColor = #FF4949
$textColor = $black
$darkTextColor = $black

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #fff
$headerBgColor = $bgColor;

$footerBgColor = #fff
$footerColor = $darkTextColor

$newsletterBgColor = #f8f8f8

$postTagBgColor = $blueLighter
$postTagColor = $blue

// layout
$navbarHeight = 3.6rem
$contentWidth = 960px
$sidebarWidth = 15rem
$footerHeight = 3.6rem

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
